<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">

      <div class="card shadow-sm">
        <div class="card-body p-4">

          <h3 class="card-title text-center mb-4">Giriş Yap</h3>


            <!-- Kullanıcı Adı -->
            <div class="form-floating mb-3">
              <input #txtUsernameOrEmail
                     type="text"
                     formControlName="userName"
                     class="form-control"
                     id="userName"
                     placeholder="Kullanıcı Adı"
                     >

              <label for="userName">Kullanıcı Adı & Email</label>

            </div>

            <!--Password-->
            <div class="form-floating mb-3">
              <input #txtPassword
                     type="password"
                     formControlName="password"
                     class="form-control"
                     id="password"
                     placeholder="Şifre"
                     >

              <label for="password">Şifre</label>

            </div>

            <div class="d-grid">

              <button (click)="login(txtUsernameOrEmail.value, txtPassword.value)"
                      type="submit"
                      class="btn btn-primary btn-lg">
                Giriş Yap
              </button>

            </div>

          <hr class="my-4">

          <div class="d-grid">
            <img src="assets/icons/facebook_icon.png" style="width:33px; height:33px; cursor: alias;" (click)="facebookLogin()"/>
          </div>

          <div class="d-grid mb-2">
            <asl-google-signin-button></asl-google-signin-button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

